$bgColorValue : yellow;
@mixin headerMixin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: $bgColorValue;
  width: 100%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $bgColorValue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Header{
  @include headerMixin()
  
}
.Body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background-color:$bgColorValue;
  width: 100%;
}
.Footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: lightblue;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
